---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { api } from '@/utils/ghost'

export async function getStaticPaths() {
  const posts = await api.posts
    .browse({ 
      limit: 'all',
      fields: ['slug', 'title']
    })
    .catch(err => {
      console.error('Error fetching posts:', err);
      return [];
    });

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { slug: post.slug },
  }));
}

const { slug } = Astro.props;

let post;
post = await api.posts.read({ slug }, { include: ['tags', 'authors'] });
if (!post) {
  return Astro.redirect('/404');
}
---
<BaseLayout title={post.title} description={post.excerpt} pageType="article">
  <article class="prose">
    <h1>{post.title}</h1>
    <p op-50>
      {post.published_at && <time datetime={post.published_at}>{new Date(post.published_at).toLocaleDateString()}</time>}
      {post.reading_time && <span>· {post.reading_time} min read</span>}
      {post.primary_tag && <span>· {post.primary_tag.name}</span>}
    </p>
    {post.feature_image && (
      <img width="640" height="360" src={post.feature_image} alt={post.feature_image_alt || ''} />
    )}
    
    <div set:html={post.html}></div>
  </article>
</BaseLayout>